.contact {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  width: 40%;
  border-radius: 10px;
  background-color: silver;
}

.contact span {
  font-size: 1em;
  text-decoration: none;
  color: black;
}
